# This is Git's per-user configuration file.
# Please adapt and uncomment the following lines:
[user]
	name = Nuno A. Oliveira
	email = 160132529+nunocsao@users.noreply.github.com
[alias]
  s = status
  co = checkout
  cob = checkout -b
  del = branch -D    
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  cm = !git add -A && git commit -m
  undo = reset HEAD~1 --mixed
  res = !git reset --hard
  done = !git push origin HEAD
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
  vd = difftool -t vimdiff -y
  gl = config --global -l


